body{
    background: linear-gradient(135deg, rgb(183, 197, 118), rgb(104, 151, 151))no-repeat center center fixed;
}

#quiz{
    float: left;
    background-color: rgb(6, 197, 197);
    margin-left: 17%;
    position: absolute;
    max-width: 852px;   
}

#pregunta{
    font-size: 2.3em;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align:  center;
}

img{
    margin-bottom: 11px;
    width: 200%;
    max-width: 100%;
}

.question{
    margin-left: 10px;
    margin-right: -10px;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    font-size: 1.1em;
    border-radius: 18px;
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button{
    float:right;
    margin-top: -11px;
}